@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    &__image
      width: 133px
  .search
    &__input
      width: 240px
  .navbar
    &-wrap
      height: 100px
  .navmenu
    &-top
      height: 60px
      &__link
        font-size: 12px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 87%
  .navbar
    &__search, &__user
      display: none
  .navbar
    &-wrap
      height: 70px
  .navmenu
    display: none
  .mobile-bottom
    display: block
  .info-right
    display: none

  .info
    padding: 8px 0 20px 0
    &-left
      justify-content: space-between
      &__offer
        order: -1
      &-list
        flex-basis: auto
      &__name, &__description
        flex-basis: 100%

@media (max-width: 576px)
  .logo
    &__image
      width: 99px
