@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    &__image
      width: 133px
  .search
    &__input
      width: 240px
  .navbar
    &-wrap
      height: 100px
  .navmenu
    &-top
      height: 60px
      &__link
        font-size: 12px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 87%
  .navbar
    &__search, &__user
      display: none
  .navbar
    &-wrap
      height: 70px
  .navmenu
    display: none
  .mobile-bottom
    display: block
